.navbar-brand {
  font-size: 26px;
  font-weight: 700;
  background: -webkit-linear-gradient(180deg, #3b22a7, rgb(45, 148, 157), #2b718d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav .nav-link {
  color: rgb(38, 37, 37);
  font-size: 20px;
}

.nav .nav-link .dropdown-menu .dropdown-item::after {
  background-color: #3b22a7;
}

.card .card-img-top {
  max-width: 150px;
  height: 200px;
  border-radius: 100px;
}

.card-body {
  font-size: 20px;
  color: #000000;
}